{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Усі ваші питання</title>
{% endblock %}

{% block body %}
<h2>Усі ваші вапитання</h2>

{% if questions %}
    <div style="display: flex; flex-direction: column; gap: 20px;">
        {% for q in questions %}
            <a href="{% url 'view-question' id=q.id %}" 
               style="text-decoration: none; color: inherit;">
                <div style="background: #f2f2f2; border: 1px solid #ccc; border-radius: 8px; padding: 15px; transition: 0.2s;">
                    <h3 style="margin: 0 0 10px; color: #000000;">
                        {{ q.title }}
                    </h3>
                    <p style="margin: 0 0 10px; color: #333;">{{ q.quest }}</p>
                {% if q.owner == request.user or role == "Модератор" or role == "Адміністратор" %}
                    <a href="{% url 'delete-question-my' id=q.id %}" 
                       style="color:red; font-weight:bold; display:inline-block; margin-top:5px; text-decoration: none;"
                       onclick="return confirm('Ви точно хочете видалити завдання?')">
                       Видалити
                    </a>
                {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>Ще немає створених питань.</p>
{% endif %}

{% endblock %}
